@import "../src/Assets/styles/header.css";
@import "../src/Assets/styles/home.css";
@import "../src/Assets/styles/services.css";
@import "../src/Assets/styles/about.css";
@import "../src/Assets/styles/price.css";
@import "../src/Assets/styles/acardion.css";
@import "../src/Assets/styles/portfolio.css";
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
a{
  text-decoration: none;
  color: white;
}
.container{
  margin: 0 auto;
  width: 95%;
}
button{
  border: none;
  color: white;
}
body{
  background: #000000;
}
.css-r9u03x-MuiPaper-root-MuiAccordion-root:first-of-type {
	border-top-left-radius: 30px !important;
	border-top-right-radius: 30px !important;
}
.css-r9u03x-MuiPaper-root-MuiAccordion-root:last-of-type {
	border-bottom-left-radius: 30px !important;
	border-bottom-right-radius: 30px !important;
}
.css-r9u03x-MuiPaper-root-MuiAccordion-root {
	background-color: #000000 !important;
  border: 0.2px  solid white !important;
	color: rgba(255, 255, 255, 0.87) !important;
}
.css-i4bv87-MuiSvgIcon-root { 
  color: white
}
.css-r9u03x-MuiPaper-root-MuiAccordion-root {
	border-radius: 30px !important
}
